// Color palette
$mono-0: var(--mono-0);
$mono-1: var(--mono-1);
$grey-1: var(--grey-1);
$grey-2: var(--grey-2);
$grey-3: var(--grey-3);
$grey-4: var(--grey-4);
$grey-5: var(--grey-5);
$primary-1: var(--primary-1);
$primary-2: var(--primary-2);
$secondary-1: var(--secondary-1);
$secondary-2: var(--secondary-2);
$secondary-3: var(--secondary-3);
$secondary-4: var(--secondary-4);
$shadow-1: var(--shadow-1);

// Motion
$transition: 0.3s ease;

// Spacing
$spacing: 24px;

// Shadow
$box-shadow-1: 0 0 10px -1px $shadow-1;
